<!-- header nav bar -->
<div class="container bg-white">
    <div class="row">
        <div class="col-md-2 mt-2">
            <img src="https://www.medibuddy.in/assets/logos/medibuddyWithName.svg" alt="alternatetext" style="width:150px;height:44px">
        </div>
        <div class="col-md-6"></div>
        <div class="col-md-3 mt-2 d-flex justify-content-end">
            <a class="me-3 text-decoration-none"><i class="bi bi-cart fs-4 cursor"><span class="fs-6 fw-bold rounded-circle px-1 cart">{{countnumber}}</span></i></a>
            <button type="button" class="btn btn-light">About Us</button>
            <button type="button" class="btn btn-light ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Login</button>
        </div>
    </div>
</div>

<!-- login & signup modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>